# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
x64/
Debug/
Release/
*.obj
*.pdb
*.dll
*.exe
*.ilk
*.log
*.tlog

# NuGet + ONNX Runtime packages
packages/
bert-base-cased.onnx
*.onnx